<div data-role="header">
  <%= link_to 'Back', users_path, "data-icon" => "home" %>
  <h1>Sign In!</h1>
</div>

<div data-role="content">
  <%= form_for(:session, url: sessions_path) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username, html: { "autocapitalize" => "off"} %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit "Sign in"%>
  <% end %>
</div>
