<div data-role="header">
  <%= link_to 'Home', pins_path, "data-icon" => "home" %>
  <h1><%= @location %></h1>
</div>
<div data-role="content">
    <h1 style="text-align: center"><%= @wind_mph %> mph <%= @wind_dir %></h1>
  <img style="display: block; margin-left: auto; margin-right: auto", src=<%="https://maps.googleapis.com/maps/api/staticmap?center=#{@pin.latitude},#{@pin.longitude}&zoom=11&size=300x250&sensor=false&key=AIzaSyADHdvKiue90VyVvgvgg37LJfkQMesWNWo"%>
</div>
<div data-role="footer" data-id="mainFooter" data-position="fixed">
  <div data-role="navbar" data-grid="c">
    <ul class="apple-navbar-ui comboSprite">
      <li><a href=<%= "/pins/#{@pin.id}" %>>Maps</a></li>
      <li><a href=<%= "/pins/#{@pin.id}/hourly" %>>Hourly</a></li>
      <li><a href="#">Daily</a></li>
      <li><a href=<%= "/pins/#{@pin.id}/historical" %>>History</a></li>
    </ul>
  </div>
</div>
