<div data-role="header">
  <%= link_to 'Home', pins_path, "data-icon" => "home" %>
  <h1><%= @location %></h1>
</div>
<div data-role="content">
  <h1 style="text-align: center"><%= @wind_mph %> mph <%= @wind_dir %></h1>
  <ul data-role="listview">
    <% @hourlies.each do |hour| %>
      <li><%= hour["FCTTIME"]["civil"] %>: <%= hour["wspd"]["english"] %> mph <%= hour["wdir"]["dir"] %></li>
    <% end %>
  </ul>
</div>
<div data-role="footer" data-id="mainFooter" data-position="fixed">
  <div data-role="navbar" data-grid="c">
    <ul class="apple-navbar-ui comboSprite">
      <li><a href=<%= "/pins/#{@pin.id}" %>>Maps</a></li>
      <li><a href="#">Hourly</a></li>
      <li><a href=<%= "/pins/#{@pin.id}/daily" %>>Daily</a></li>
      <li><a href=<%= "/pins/#{@pin.id}/historical" %>>History</a></li>
    </ul>
  </div>
</div>
