<div data-role="header" data-theme="b">
  <%= link_to 'Home', pins_path, "data-icon" => "home" %>
  <h1><%= @pin.name %></h1>
</div>
<div data-role="content" data-theme="b">
  <h1 style="text-align: center"><%= @wind_mph %> mph <%= @wind_dir %></h1>
  <ul data-role="listview" data-inset="true">
    <% @hourlies.each do |hour| %>
      <li><%= hour["FCTTIME"]["civil"] %>: <%= hour["wspd"]["english"] %> mph <%= hour["wdir"]["dir"] %></li>
    <% end %>
  </ul>
</div>
<div data-role="footer" data-id="mainFooter" data-theme="b" data-position="fixed">
  <div data-role="navbar">
    <ul class="apple-navbar-ui comboSprite">
      <li><a href=<%= "/pins/#{@pin.id}" %>>Maps</a></li>
      <li class="ui-btn-active ui-state-persist"><a href="#">Hourly</a></li>
      <li><a href=<%= "/pins/#{@pin.id}/daily" %>>Daily</a></li>
    </ul>
  </div>
</div>
