<div data-role="header">
  <h1>My Pins</h1>
  <%= link_to 'New Pin', new_pin_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
</div>

<div data-role="content">
  <% @pins.each do |pin| %>
    <li><%= pin.latitude %>, <%= pin.longitude %>
      <td><%= link_to 'Show', pin %></td>
      <td><%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </li>
  <% end %>
</div>
<br />

