<div data-role="header">
  <%= link_to 'Home', pins_path, "data-icon" => "home" %>
  <h1><%= @pin.name %></h1>
</div>
<div data-role="content">
  <h1 style="text-align: center"><%= @wind_mph %> mph <%= @wind_dir %></h1>
  <img style="display: block; margin-left: auto; margin-right: auto", src=<%="https://maps.googleapis.com/maps/api/staticmap?center=#{@pin.latitude},#{@pin.longitude}&zoom=13&size=300x250&sensor=false&key=AIzaSyADHdvKiue90VyVvgvgg37LJfkQMesWNWo"%>
</div>
<div data-role="footer" data-id="mainFooter" data-position="fixed">
  <div data-role="navbar">
    <ul class="apple-navbar-ui comboSprite">
      <li class="ui-btn-active ui-state-persist"><a href="#">Maps</a></li>
      <li><a href=<%= "/pins/#{@pin.id}/hourly" %>>Hourly</a></li>
      <li><a href=<%= "/pins/#{@pin.id}/daily" %>>Daily</a></li>
    </ul>
  </div>
</div>
