<!DOCTYPE html>
<html>
<head>
  <script src="//cdn.optimizely.com/js/141925467.js"></script>
  <title>Gusto</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
	<meta name="apple-mobile-web-app-capable" content="yes">
 	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon-precomposed" href="<%= asset_path("icon.png") %>" />
  <link rel="apple-touch-startup-image" href="<%= asset_path("launch.png") %>" />

  <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
  <script>
  function user_loc_create() {
    navigator.geolocation.getCurrentPosition(foundLocation, noLocation);
  };
  function foundLocation(position) {
    var lat = position.coords.latitude;
    var long = position.coords.longitude;
    $('#pin_latitude').val(lat);
    $('#pin_longitude').val(long);
    $('#loc_form').submit();
  };
  function noLocation() { alert("Oh No! There was an error retrieving your location.")};
  function new_pin_callback(object) {
    $("#latinput").val(object.getAttribute('latitude'));
    $("#lnginput").val(object.getAttribute('longitude'));
    $("#nameinput").val(object.getAttribute('name'));
    $("#myform").submit();
  };
  $("#userloc").live("click", user_loc_create);
  </script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div data-role="page" data-theme="b">
    <%= yield %>
  </div>
</body>
</html>
